.info-selection-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
}

.info-selection {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column; 
    flex-basis: 50%;
    margin: 10px;

    &.big {
        flex-basis: 45%;
    }

    &.small {
        flex-basis: 10%;
    }
}

.info label {
    margin-bottom: 5px;
}

.compute-button {
    text-align: center;
}