.info-selection-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 100%;
    justify-content: center;
}

.info-selection {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column; 
    flex-basis: 50%;
    margin: 10px;
}

.info label {
    margin-bottom: 5px;
}

.compute-button {
    text-align: center;
}
