<div class="new-vacum-position">
    <div class="position-items" *ngIf="newVacum; else none">
        <app-vacum-position-item
            [label]="xLabel"
            [value]="newVacum.x"
        ></app-vacum-position-item>
        <app-vacum-position-item
            [label]="yLabel"
            [value]="newVacum.y"
        ></app-vacum-position-item>
        <app-vacum-position-item
            [label]="orientationLabel"
            [value]="newVacum.orientation"
        ></app-vacum-position-item>
    </div>
    <ng-template #none>
        <div class="instruction">
            <p>Please click on 'Go' to get the new robot position.</p>
        </div>
    </ng-template>
</div>