.position-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

app-vacum-position-item {
    margin: 30px;
}

.instruction {
    width: 100%;
    text-align: center;
    color: #474747;
}