<div class="content">
    <h1>Vacuum position calculator</h1>
    <app-grid
        [grid]="grid"
        [startVacum]="vacuum"
        [endVacum]="newVacuum"
        [grayedPositions]="vacuumPositions"
        (squareClicked)="handleGridClick($event)"
    ></app-grid>
    <app-vacuum-position *ngIf="newVacuum" [direction]="newVacuum.direction" [x]="newVacuum.x + 1" [y]="newVacuum.y + 1"></app-vacuum-position>
    <app-vacuum-position-calculator
        [grid]="grid"
        [vacuum]="vacuum"
        [instructions]="instructions"

        (onGridChange)="handleGridChange($event)"
        (onVacuumChange)="handleVacuumChange($event)"
        (onNewVacuumComputed)="handleNewVacuumComputed($event)"
        (onInstructionsChange)="handleInstructionsChange($event)"
    ></app-vacuum-position-calculator>
</div>
