.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-vacuum-position-calculator {
    display: block;
    width: 900px;
    padding: 1.5em;
    box-sizing: border-box;

    @media(max-width: 900px) {
        width: 100%;
    }
}

app-new-vacuum-position {
    display: block;
    width: 50%;
}