.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-vacum-position-calculator {
    display: block;
    width: 50%;
    padding: 3em;
    box-sizing: border-box;
}

app-new-vacum-position {
    display: block;
    width: 50%;
}