.new-vacum-position {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.position-label {
    background-color: #8c76b5;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    margin-right: 10px;
}