<div class="flex column info-selection-container">
    <div class="flex column">
        <h2>Grid</h2>
        <div class="info-selection">
            <div class="info grid">
                <mat-form-field appearance="fill">
                    <mat-label>Width</mat-label>
                    <input
                        matInput
                        color="white"
                        type="number"
                        name="width" 
                        [value]="grid.width" 
                        (change)="onGridSizeChange($event)" 
                    />
                </mat-form-field>
            </div>
            <div class="info grid">
                <mat-form-field appearance="fill">
                    <mat-label>Height</mat-label>
                    <input 
                        matInput
                        type="number"
                        name="height" 
                        [value]="grid.height" 
                        (change)="onGridSizeChange($event)" 
                    />
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="flex row">
        <div class="flex info column">
            <h2>Vacuum</h2>
            <div class="info-selection">
                <mat-form-field appearance="fill">
                    <mat-label>Direction</mat-label>
                    <mat-select 
                        matNativeControl 
                        name="direction" 
                        [(ngModel)]="vacuum.direction"
                    >
                        <mat-option value="N">N</mat-option>
                        <mat-option value="S">S</mat-option>
                        <mat-option value="E">E</mat-option>
                        <mat-option value="W">W</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="flex info column">
            <h2>Instructions</h2>
            <div class="info-selection">
                <mat-form-field appearance="fill">
                    <mat-label>Instructions (A, G, D)</mat-label>
                    <input 
                        matInput
                        [value]="instructionString" 
                        (change)="handleInstructionsChange($event)" 
                    />
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="compute-button">
        <button (click)="onGoClick()" color="primary" mat-raised-button>Go</button>
    </div>
</div>
